.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.promo__col {
  width: 350px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.promo__content {
  padding: 30px;
  height: 330px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  transition: box-shadow 0.2s ease-in;
  background: #fff;

  .promo__title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    color: #666666;
  }

  .promo__subtitle {
    font-size: 14px;
    color: #666666;
    opacity: 0.5;
  }

  &:hover {
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  }

}

.promo__link {
  display: block;
}

.promo__content--background-img {
  justify-content: flex-end;
  background: url('../img/block-promo/smart-watch.jpg') no-repeat center #3b4b48;
  padding-bottom: 45px;

  .promo__title {
    color: #fff;
  }

  .promo__subtitle {
    color: #fff;
  }
}

.promo__col--small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo__content--small {
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 20px;
  height: 150px;
  text-align: left;

  .promo__img-cell {
    flex-shrink: 0;
    width: 116px;
    margin-right: 20px;
  }

  .promo__title-cell {
    color: #666666;
    font-weight: 500;
    line-height: 2;
  }
}



