.header-select {
  position: relative;
  width: 100%;
}

.header-select__title {
  position: relative;
  padding: 18.2px 45px 18.2px 25px;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  cursor: pointer;

  &::after {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 11px;
    height: 8px;
    background: url('../img/arrow-icon.svg') no-repeat center;
  }
}

.header-select__dropdown {
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border-radius: 0 0 4px 4px;
  border: $border;
  background: #fff;
}

.header-select__dropdown-item {
  height: 40px;
  padding-left: 25px;
  color: #808080;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
  }

  &:hover {
    background: #f7f7f7;
  }
}

.header-select.header-select--nav {
  .header-select__title {
    width: auto;
    padding: 23.2px 45px 23.2px 25px;
    text-transform: capitalize;
    font-weight: 500;
    color: #808080;
    cursor: pointer;
  
    &:hover::after {
      filter: invert(81%);
    }

    &:hover {
      color: $gray-hover;
    }
  }

  .header-select__title--border {
    border-right: $border;
    border-left: $border;
  }
}